// https://colorhunt.co/palette/0d1282eeededf0de36d71313

$color_blue: #0d1282;
$color_white: #eeeded;
$color_yellow: #f0de36;
$color_red: #d71313;
$color_black: #000;

$color_brown_light: #982e45;
$color_brown_dark: #6e182b;

$color_pink_dark: #6e182b;
$color_pink_light: #ba3d5c;
$color_pink_white: #f0cac9;
